* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

section {
    height: 100%;
    position: relative;
}

.main {
    position: relative;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.over-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgb(0, 0, 0) 100%);

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.about {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    padding: 10vh 0;
    box-sizing: content-box;
}

.about h1,
.about p {
    font-size: 2rem;
    transition: transform 0.5s ease-out;
}

.image {
    width: 0;
    height: 500px;
    opacity: 0;
    transition: width 0.5s ease-out, opacity 0.5s ease-out;
}

.temes {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teme-elements {
    display: flex;
    width: 80vw;
    justify-content: space-between;
}

.teme-element {
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.teme-element h1,
.teme-element p {
    font-size: 1.5em;
}

.white-section {
    height: auto;
}

.white-content {
    height: auto;
    background-color: #ebe9e5;
    color: black;
    transform-origin: top;
    opacity: 1;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services {
    height: 80vh;
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: relative;
}

.services-link{
    opacity: 0;
    transform: translateX(-100px);
}

.service-link {
    cursor: pointer;
    margin-bottom: 10px;
    transition: color 0.3s ease, font-weight 0.3s ease, font-size 0.5s;
    
    
}

.service-link.active {
    color: orange; /* Escolha a cor que deseja para destacar */
    font-weight: bold;
    font-size: 1.3em;
}

.services-link>h1 {

    position: absolute;
    top: -15vh;
    font-size: 3em;

}

.services-link h2 {
    cursor: pointer;
    margin-bottom: 10px;
}


.services-elements {
    position: relative;
    width: 600px;
    /* Tamanho da área visível */
    height: 400px;
    overflow: hidden;
    /* Garante que a transição ocorra dentro da área */

    opacity: 0;
    transform: translateX(100px);
}

.services-elements .services-element {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.8s ease, background-position 1s ease-in-out;

    display: flex;
    justify-content: end;
}

.services-elements .services-element.active {
    opacity: 1;
}

.services-element {
    height: 100%;
    width: 100%;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    align-content: end;

    padding: 20px 20px;
    text-align: justify;
    gap: 20px;
}

.services-element p{
    width: 50%;
}

/* Define os backgrounds das divs */
#service-1 {
    background: url(avatar.jpg);
    background-position: left center;
}

#service-2 {
    background: url(img2.jpg);
    background-position: right center;
}

#service-3 {
    background: url(avatar.jpg);
    background-position: top center;
}

#service-4 {
    background: url(avatar.jpg);
    background-position: bottom center;
}


.faq-container {
    height: 40vh;
    width: 600px;
    margin: auto;
}

.faq-container h1{
    text-align: center;
}

.faq-item {
    border-bottom: 1px solid black;
    color: black;
    margin-bottom: 10px;
    overflow: hidden;
}

.faq-question {
    background-color: transparent;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    border: none;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-answer {
    padding: 15px;
    display: none;
    font-size: 16px;
}

.arrow {
    font-size: 20px;
}

.contact {
    height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;

    opacity: 0;
    transform: translateY(100px);

}
.contact-organic .contact-element{
    opacity: 0;
    transform: translateX(-50px);
}

.contact-organic {
    display: flex;
    gap: 50px;
}

.contact-element {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.socials {
    display: flex;
    gap: 20px;

    
}

.social-icon {
    width: 70px;
    height: 70px;
    border: 1px solid white;
    border-radius: 50%;

    opacity: 0;
    transform: translateY(50px);
}