* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* width: 100vw;
    overflow-x: hidden; */
}

button, a{
    text-decoration: none;
    color: white;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    /* height: 100vh; */
    /* min-height: 100vh; */
    /* overflow-x: hidden; */
    background-color: black;
    color: white;

    font-family: sans-serif;
}

.wpp-fixed{
    position: fixed;
    z-index: 100;
    right: 1vw;
    bottom: 4vh;
    width: 70px;
    transition: .3s;
}

.wpp-fixed:hover{
    transform: scale(1.05) !important;
}

section {
    height: 100vh;
    position: relative;

}

.main {
    position: relative;
    height: 90vh;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.over-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgb(0, 0, 0) 100%);

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    /* padding-top: 50px; */
}

.over-background>h1 {
    font-size: 80px;
    letter-spacing: 10px;
}

.logo {
    width: 500px;
    /* margin-top: 10vh; */
}

.main-arrow-down {
    position: absolute;
    bottom: 2vh;
    width: 60px;
}

.sub-title {
    width: 250px;
    text-align: justify;
    position: absolute;
    left: 18vw;
    bottom: 15vh;
}

.about {
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    padding: 100px 0;
    /* box-sizing: content-box; */

    max-width: 100vw;
    overflow-x: hidden;
}

.about-container {
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.about-container>p {
    margin-left: 22vw;
    font-size: 20px;
    text-align: justify;
    width: 40%;
    transition: transform 0.5s ease-out;
}

.about h1 {
    font-size: 2rem;
    transition: transform 0.5s ease-out;
    text-shadow: 2px 2px 5px #c1aa1573;
}



.image {
    width: 0;
    height: 400px;
    opacity: 0;
    transition: width 0.5s ease-out, opacity 0.5s ease-out;
}

.temes {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 100vw;
    overflow-x: hidden;

}

.teme-elements {
    display: flex;
    width: 80vw;
    justify-content: space-between;

    gap: 50px;
}

.teme-element {
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.teme-element h1,
.teme-element p {
    font-size: 17px;
}

.white-section {
    height: auto;
    max-width: 100vw;
    overflow-x: hidden;
}

.white-content {
    height: auto;
    background-color: #ebe9e5;
    color: black;
    transform-origin: top;
    opacity: 1;

    padding: 200px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.services {
    height: auto;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 100px;
}

.ico {
    width: 110px;
}

.services>h1 {
    font-size: 2rem;
}

.services-cards {
    height: auto;
    max-width: 80vw;
    display: flex;
    align-items: start;
    align-content: center;
    position: relative;

    gap: 20px;
}

.services-elements {
    border: 1px solid rgba(0, 0, 0, 0.096);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    align-content: center;



    width: 400px;
    height: 500px;


    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.103);
    transition: 0.3s;

    transition: 0.5s;
}

.services-elements:hover {
    transform: scale(1.02) !important;
}

.services button:hover {
    transform: scale(1.02) !important;
}

.services-element>h2 {
    margin-top: 20px;
    font-size: 15px;
    color: rgb(34, 34, 34);


}

.services button {
    cursor: pointer;

    background-color: #c1ab15;
    border: 1px solid rgba(0, 0, 0, 0.13);
    padding: 15px;
    border-radius: 25px;

    font-size: 18px;
    font-weight: bold;

    transition: 0.5s;

}

.services-elements>h1 {
    text-align: center;
    max-width: 80%;
}

.services-element {
    font-size: 14px;
    padding: 0 50px;
}

.erp{
    border: 2px solid #c1ab15;
    display: flex;
    align-items: center;
    padding-right: 40px;
    
}
.erp h1{
    color: #c1ab15;
    font-size: 20px;
}

.erp>img{
    width: 150px;
}



.faq-container {
    height: auto;
    width: 600px;
    margin: auto;
}

.faq-container h1 {
    text-align: center;
    margin-bottom: 50px;
}

.faq-item {
    border-bottom: 1px solid black;
    color: black;
    margin-bottom: 10px;
    overflow: hidden;
}

.faq-question {
    background-color: transparent;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    border: none;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.faq-answer {
    padding: 15px;
    display: none;
    font-size: 15px;
}

.faq-answer {
    overflow: hidden;
    max-height: 0;
    will-change: transform;
    /* transition: max-height 0.4s ease-in-out; */
}


.faq-answer>p {
    margin: 10px 0;
    color: rgb(37, 36, 36);
}

.faq-answer>p>span {
    color: black;
    font-weight: 600;
}



.arrow {
    font-size: 20px;
}

.contact {
    height: auto;
    padding: 100px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;

    opacity: 0;
    transform: translateY(100px);

}

.footer-logo {
    width: 100px
}

.contact-organic .contact-element {
    opacity: 0;
    transform: translateX(-50px);
}

.contact-organic {
    display: flex;
    gap: 50px;
}

.contact-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.socials {
    display: flex;
    gap: 20px;


}

.social-icon {
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transform: translateY(50px);
    transition: .3s;
}

.social-icon:hover{
    transform: scale(1.05) !important;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 10px;
    font-size: 11px;
}

@media(max-width: 1350px) {
    .services-elements {
        width: 400px;
        height: 550px;
    }
}

@media(max-width: 1150px) {
    .services-cards {
        flex-direction: column;
        gap: 30px;
    }

    .services-elements {
        width: 500px;
        height: auto;
        padding-bottom: 30px;

        text-align: center;
        
    }
}

@media(max-width: 900px) {

    .over-background>h1 {
        font-size: 80px;
        letter-spacing: 8px;
    }

    .temes {
        height: auto;
        padding: 100px 0;

    }

    .teme-elements {

        align-items: center;
        flex-direction: column;
        gap: 100px;
    }

}

@media(max-width: 750px) {
    .over-background>h1 {
        font-size: 60px;
        letter-spacing: 6px;
    }

    .about-container {
        max-width: 60vw;
    }

    .about-container>p {
        margin-left: 0;
        width: 80%;
    }

}

@media(max-width: 650px) {

    .about-container>p {
        margin-left: -20vw;
        width: 90%;
    }

    .white-section {
        height: auto;
    }


    .services {
        height: auto;
        max-width: 80vw;
    }


    .services-elements {
        width: 100%;
        height: auto;
        padding-bottom: 30px;
        
    }


    .faq-container {
        height: auto;
        width: 400px;
    }
}

@media(max-width: 530px) {

    .logo {
        width: 450px;
    }

    .over-background>h1 {
        font-size: 50px;
        letter-spacing: 5px;
    }

    .about-container>p {
        margin-left: -30vw;
        width: 95%;
    }

    .contact {
        height: auto;
        gap: 40px;
    }

    .contact-organic {
        flex-direction: column;
        align-items: center;
    }

    .contact-element {
        align-items: center;
    }

    .social-icon {
        width: 60px;
        height: 60px;
    }


}

@media(max-width: 450px) {

    .logo {
        width: 350px;
    }
    .over-background>h1 {
        font-size: 40px;
        letter-spacing: 4px;
    }

    .about-container {
        max-width: 95vw;
    }

    .about-container>h1 {
        margin-left: 30vw;
        /* width: 100%; */
    }

    .about-container>p {
        margin-left: -60vw;
        width: 80%;
    }
    

    .faq-container {
        height: auto;
        max-height: 140vh;
        overflow: hidden;
        width: 85vw;
    }

}

/* se -> animacoes */